.modal-category {
    &__list {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }
    &__item {
        width: 145px;
        margin: 0 15px 10px 10px;
    }
    &__title {
        font-size: 1.5rem;
        color: #0071ba;
        font-weight: 550;
    }
    &__sublist {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__sublist-item {
        padding: 5px 0;
    }
    &__show-more {
        border-top: 1px solid #ccc;
        font-size: 13px;
        margin-top: 5px;
    }
    &--hover:hover {
        color: #0071ba;
        text-decoration: underline;
        cursor: pointer;
    }
}
