.input-group {
    display: flex;
    flex-direction: column;
}

.text-area-input {
    width: 800px !important;
}

.slider-container {
    display: flex;
    font-size: 2.2rem;
    padding: 20px 0;
    color: #0d6efd;
    position: relative;
    width: 800px;
    border-bottom: 2px solid #0d6efd;
    margin-bottom: 20px;
    &__title {
        padding-right: 10px;
    }
    &__icon--justify {
        position: relative;
        top: 5px;
    }
}

.qr-code {
    &-container {
        display: flex;
        border-top: 2px solid #0d6efd;
        width: 770px;
        padding: 10px 0;
    }
    &-insert-otp {
        margin-top: 25px;
    }
}

.otp-form-input {
    width: 350px;
}

.otp-form-container {
    display: flex;
    margin: 10px 0;
}

.btn-otp-confirm {
    width: 50px;
    height: 34px;
    margin-left: 5px;
}

.otp-time-out {
    color: #0d6efd;
    font-size: 1.5rem;
}
